<style>

			body {

				width: 300px;

				font-size:12px;

				font-family: Verdana;

				margin: 0;

				padding: 0;

			}

			.drashed {

				width: 100%;

				border-bottom: 1.5px dashed #000;

			}

			.table {

				width: 100%;

				font-size: 12px;

				border-collapse: separate;

				border-spacing: 0 8px;

			}

			.table th {

				text-align: left;

				font-size: 11px;

			}

			.products td {

				height: 18px;

			}

			strong {

				font-size: 11px;

			}



			</style>EMPRESA &nbsp;&nbsp;: Falcon Delivery<br />
END. &nbsp;&nbsp;: Rua Lima, 195<br />
END. &nbsp;&nbsp;:  Vila Joana,  Jundiaí - SP<br />
TEL. &nbsp;&nbsp;: (73)99103-6364<br />
<br />
<table class="table">

			<tr>

			<th width="100">P E D I D O</th>

			<th width="140">D A T A &nbsp; E M I S S Ã O</th>

			</tr>

			<tr>

			<td>0000000009</td> 

			<td>25/09/2018 22:54</td>

			</tr>

			</table><br />
<strong>E N T R E G A</strong> <br />
CLIENTE &nbsp;&nbsp;: Pedro Rodrigues<br />
END. &nbsp;&nbsp;: Rua Eliza, 09, Vila Joana, Jundiaí - SP<br />
COMPLE. &nbsp;&nbsp;: cas<br />
CEP. &nbsp;&nbsp;: 13216060<br />
TEL. &nbsp;&nbsp;: ()-<br />
<br />
<table class="table products" cellspacing="0" cellpadding="0">

			<tr>

			<th>P R O D U T O</th>

			<th style="text-align: right">Q T D.</th>

			<th style="text-align: right">P R E Ç O</th>

			</tr>

			<tr>

			<td></td>

			<td></td>

			<td></td>

			</tr><tr>

				<td width="50%"><strong>X BURGER MASTER FALCON</strong> <br>Tirar: Ovo</td>

				<td style="text-align: right" valign="top">1</td>

				<td style="text-align: right" valign="top">R$25.00</td>

				</tr><tr>

					<td width="50%">Adicionais:</td>

					<td style="text-align: right" valign="top"></td>

					<td style="text-align: right" valign="top"></td>

					</tr><tr>

							<td width="50%" height="15">&nbsp;&nbsp;&nbsp;Queijo</td>

							<td height="15" style="text-align: right" valign="top">1</td>

							<td height="15" style="text-align: right" valign="top">R$3.00</td>

							</tr><tr>

							<td width="50%" height="15">&nbsp;&nbsp;&nbsp;Alface</td>

							<td height="15" style="text-align: right" valign="top">1</td>

							<td height="15" style="text-align: right" valign="top">R$1.00</td>

							</tr><tr>

				<td width="50%"><strong>X BURGER MASTER FALCON</strong> <br>Tirar: Ovo</td>

				<td style="text-align: right" valign="top">1</td>

				<td style="text-align: right" valign="top">R$25.00</td>

				</tr><tr>

					<td width="50%">Adicionais:</td>

					<td style="text-align: right" valign="top"></td>

					<td style="text-align: right" valign="top"></td>

					</tr><tr>

							<td width="50%" height="15">&nbsp;&nbsp;&nbsp;Queijo</td>

							<td height="15" style="text-align: right" valign="top">1</td>

							<td height="15" style="text-align: right" valign="top">R$3.00</td>

							</tr><tr>

							<td width="50%" height="15">&nbsp;&nbsp;&nbsp;Alface</td>

							<td height="15" style="text-align: right" valign="top">1</td>

							<td height="15" style="text-align: right" valign="top">R$1.00</td>

							</tr><tr>

				<td width="50%"><strong>Meia: Pizza de Peperone<br>Tirar: Mussarela<br>Meia: Pizza Brasileira<br>Tirar: Bacon, Ovo</strong> </td>

				<td style="text-align: right" valign="top">1</td>

				<td style="text-align: right" valign="top">R$30.00</td>

				</tr><tr>

				<td width="50%"><strong>Pizza de Peperone</strong> </td>

				<td style="text-align: right" valign="top">1</td>

				<td style="text-align: right" valign="top">R$30.00</td>

				</tr></table><br />
<strong>T O T A L</strong> <br />
VALOR DO PEDIDO &nbsp;&nbsp;: R$118.00<br />
TAXA DE ENTREGA &nbsp;&nbsp;: R$10.00<br />
TOTAL A PAGAR &nbsp;&nbsp;: R$128.00<br />
<br />
<strong>F O R M A S &nbsp; D E &nbsp; P A G A M E N T O</strong> <br />
PAGAMENTO &nbsp;&nbsp;: Dinheiro - R$150.00<br />
TROCO &nbsp;&nbsp;: R$22.00<br />
<br />
<center><strong>ENTREGA NO ENDEREÇO</strong></center><br />
<center><strong>ENTREGADOR: Monteiro Lobato</strong></center><br />
<br />
<center><strong>ESTE CUPOM NAO TEM VALIDADE FISCAL</strong></center><br />
