.do-you-need-help {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.close-support-chat {
  cursor: pointer;
}

#start__messages__chat {
	position: fixed;
	bottom: 0;
	right: 0;
	clear: both;
	padding-right: 20px;
  display: none;
}

#start__messages__chat .box-title {
  text-align: center;
}

#start__messages__chat .chat-main-box {
  padding: 10px;
  -webkit-box-shadow: 0 0 0.5em #ccc;
     -moz-box-shadow: 0 0 0.5em #ccc;
      -ms-box-shadow: 0 0 0.5em #ccc;
       -o-box-shadow: 0 0 0.5em #ccc;
          box-shadow: 0 0 0.5em #ccc;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
      -ms-border-radius: 7px;
       -o-border-radius: 7px;
          border-radius: 7px;
}

#open__window {
	cursor: pointer;
	text-align: center;
	display: none;
}

#open__window span {

}

#open__window p {
	margin-left: 5px;
}

/* Chat widget */
.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted rgba(120, 130, 140, 0.13);
}
.chat li.left .chat-body {
  margin-left: 60px;
}
.chat li.right .chat-body {
  margin-right: 60px;
}
.chat li .chat-body p {
  margin: 0;
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}

.chat-list {
  list-style: none;
  padding: 0px 20px;
  overflow: auto;
}
.chat-list li {
  margin-bottom: 24px;
  overflow: auto;
}
.chat-list .chat-image {
  display: inline-block;
  float: left;
  text-align: center;
  width: 50px;
}
.chat-list .chat-image img {
  border-radius: 100%;
  width: 100%;
}
.chat-list .chat-text {
  background: #e5f7ff;
  border-radius: 0px 8px 8px 8px;
  display: inline-block;
  padding: 15px;
  font-size: 14px;
  position: relative;
}
.chat-list .chat-text h4 {
  color: #1a2942;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  line-height: 15px;
  position: relative;
}
.chat-list .chat-text p {
  margin: 0px;
  padding-top: 3px;
}
.chat-list .chat-text b {
  font-size: 10px;
  opacity: 0.8;
}
.chat-list .chat-body {
  display: inline-block;
  float: left;
  font-size: 12px;
  margin-left: 12px;
  width: 65%;
}
.chat-list .odd .chat-image {
  float: right !important;
}
.chat-list .odd .chat-body {
  float: right !important;
  margin-right: 12px;
  text-align: right;
}
.chat-list .odd .chat-text {
  background: #f7f7f7;
  border-radius: 8px 0px 8px 8px;
}
.chat-send {
  padding-left: 0px;
  padding-right: 30px;
}
.chat-send button {
  width: 100%;
}

.chat-main-box {
  position: relative;
  background: #ffffff;
  overflow: hidden;
}
.chat-main-box .chat-left-aside {
  position: absolute;
  width: 250px;
  z-index: 9;
  top: 0px;
  border-right: 1px solid rgba(120, 130, 140, 0.13);
}
.chat-main-box .chat-left-aside .open-panel {
  display: none;
  cursor: pointer;
  position: absolute;
  left: -webkit-calc(99%);
  top: 50%;
  z-index: 100;
  background-color: #fff;
  -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 0 100px 100px 0;
  line-height: 1;
  padding: 15px 8px 15px 4px;
}
.chat-main-box .chat-left-aside .chat-left-inner .form-control {
  height: 60px;
}
.chat-main-box .chat-left-aside .chat-left-inner .style-none {
  padding: 0px;
}
.chat-main-box .chat-left-aside .chat-left-inner .style-none li {
  list-style: none;
  overflow: hidden;
}
.chat-main-box .chat-left-aside .chat-left-inner .style-none li a {
  padding: 20px;
}
.chat-main-box .chat-left-aside .chat-left-inner .style-none li a:hover,
.chat-main-box .chat-left-aside .chat-left-inner .style-none li a.active {
  background: #f7fafc;
}

.chat-main-box .chat-right-aside {
  
}
.chat-main-box .chat-right-aside .chat-list {
  /* max-height: none;
  height: 100%;
  padding-top: 40px; */
}
.chat-main-box .chat-right-aside .chat-list .chat-text {
  /* border-radius: 6px; */
}
.chat-main-box .chat-right-aside .send-chat-box {
  position: relative;
}
.chat-main-box .chat-right-aside .send-chat-box .form-control {
  border: none;
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  resize: none;
  height: 80px;
  padding-right: 180px;
}
.chat-main-box .chat-right-aside .send-chat-box .form-control:focus {
  border-color: rgba(120, 130, 140, 0.13);
}
.chat-main-box .chat-right-aside .send-chat-box .custom-send {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.chat-main-box .chat-right-aside .send-chat-box .custom-send .cst-icon {
  color: #313131;
  margin-right: 10px;
}