.selectrict span, 
.selectric-scroll li {
  text-transform: uppercase;
}

#chooses {
  padding-top: 15px;
}
.box-flavor {
  width: 100%;
  min-height: 35px;
  border: 1px solid #DDD;
  background: #ff851b;
  color: #fff;
  position: relative;
  padding:3px;
  margin-bottom: 15px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.box-flavor:hover {
  background: #ec5353;
  color: #fff;
}
.box-flavor:hover a {
  color: #fff;
}

.box-flavor img {
  height: 35px;
}

.left-img {
  float: left;
  margin-right: 5px;
}

.before-info {
  float: left;
}

.before-info p {
  line-height: 32px;
}

.remove-flavor {
  position: absolute;
  right: 8px;
  top: 6px;
}

.search-list {
  position: relative;
}

.search-list-icon {
  position: absolute;
  top: 10px;
  right: 25px;
}

#list-menu {
  margin: 20px 0 0 20px;
  padding:0;
}

.list-content {
  width: 100%;
  display: block;
  position: relative;
  border-top: 1px solid #e5e5e5;
  padding:4px 0;
}

.mount-button {
  position: absolute;
  top: 4px;
  right: 0;
}

.button-disabled {
  background: green !important;
  border: 3px solid #006400  !important;
  opacity: 0.5 !important;
}

.button-disabled:hover {
  background: #006400 !important;
}

.list-img {
  width: 45px;
  height: 45px;
  float: left;
  margin: 0 7px 0 7px;
}
.list-img img {
  width: 45px;
  height: 45px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #ccc;
}

.list-header {
  width: 80%;
  display: inline-block;
}

.list-header p {
  margin:0;
  padding:0;
  font-weight: bold;
}


.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #efedef;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #fd264f; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 2px solid #fd264f; }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .tabs .tab-2 {
    width: 50%; }
    .tabs .tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }