

.clear{
    clear:both;
}


/****** combo ***/

#montador_combo{
    width:910px;
    /*height: 650px;*/
    background:url(../img/bg-pizza.png) no-repeat top #a40000;
    border-radius: 10px;
    margin:0 auto;
    margin-bottom:0px;
	background-size: cover;
}

h2.nome_combo{
    font-family: Androgyne, "open sans", arial;
    color:#fff;
    font-size:28px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
    font-weight:normal;
    float:left;
    margin:14px 0 20px 14px;
    max-width: 840px;
}

#montador_combo p.descricao_combo{
	font-size:16px;
    color:#fff;
    padding:0 10px 20px 14px;
}

#montador_combo p{
    padding:0;
	height:40px;
}

#top_combo{
	height:170px;
}

.abas_combo{
    padding-left:14px;
	margin-top:-63px;
}
a.abacombo {
    padding: 12px 10px;
    display: inline-block;
    font-size: 16px;
    text-transform: capitalize;
    color: #333333;
    margin: 5px 5px 5px 0;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #f1f1f1;
    text-decoration:none;
}
a.abacombo img {
    width: 24px;
}
/*
a.abacombo {font-size: 12px;}
.abas_combo a img {width: 17px;}
*/
a.abacombo.ativa{
    color:#a40000;
    font-weight:600;
    padding:15px 10px 12px 10px;
    background-color:#fff;
    border-bottom: 1px solid #fff;
}

a.abacombo:hover{
    padding:15px 10px 12px 10px;
    color:#a40000;
}

a.abacombo  img{
    float:left;
    margin-right:10px;
}

.cont_abascombo{
    margin-top: -6px;
    /*border: 1px solid #ccc;*/
    padding: 17px 9px 0 9px;
    height:364px;
    background-color:#fff;
    padding:15px;
    border-bottom: 2px solid #d4d4d4;
    display:none;
    position: relative;
    overflow: hidden;
}

.cont_abascombo.abacontent_ativo{
    display:block;
    
}

.footer_combo{
    background-color:#fff;
    padding:18px 14px;
    border-radius: 0 0 10px 10px;
}

a.btnVoltar_combo{
    cursor: pointer;
    font-family: Androgyne, "Open Sans";
    color:#fff;
    background-color:#0062ab;
    border-bottom:2px solid #004276;
    text-decoration:none;
    font-weight:normal;
    font-size:16px;
    padding:10px 14px;
    border-radius:3px;
    float:left;
}

a.btnfinaliza_combo{
    cursor: not-allowed;
    font-family: "Open Sans";
    color:#6f6f6f;
    background-color:#d4d4d4;
    border-bottom:2px solid #a5a5a5;
    text-decoration:none;
    font-weight:normal;
    font-size:16px;
    padding:10px;
    border-radius:3px;
    float:right;
}

span.icon-comprarcombo{
    width:20px;
    height:20px;
    background:url(../img/icon-carrinhocombo.png);
    display:block;
    float: left;
    margin-right: 10px;
}

a.btnfinaliza_combo.ativo span.icon-comprarcombo{
    background-position: 0px 19px;
}

a.btnfinaliza_combo.ativo:hover{
    background-color:#014f00;
    margin-top:2px;
    border-bottom:none;
}

a.btnfinaliza_combo.ativo{
    background-color:#087607;
    border-bottom:2px solid #014f00;
    color:#fff;
    cursor:pointer;
}

a.btnVoltar_combo:hover{
    background-color:#004276;
    margin-top:2px;
    border-bottom:none;
}

a.btnAvancar_combo{
    cursor: pointer;
    font-family: Androgyne, "Open Sans";
    color:#fff;
	background-color: #0062ab;
    border-bottom: 2px solid #004276;
    text-decoration:none;
    font-weight:normal;
    font-size:16px;
    padding:10px 14px;
    border-radius:3px;
    float: right;
    margin-right: 30px;
}

a.btnAvancar_combo:hover{
    background-color:#004276;
    margin-top:2px;
    border-bottom:none;
}


img.iconbtncombo{
    float:left;
    display:block;
    margin-right:10px;
}

/****************************************************/
#modalmontador{
    width: 910px;
    min-height: 360px;
    margin:0 auto;
    background-color:#fff;
    border-radius: 10px;
}

#cont_modalmont{
    padding:15px 0px 15px 10px;
    min-height: 400px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.top-ing{
    border-radius: 5px 5px 0 0;
    background-image: -moz-linear-gradient( 90deg, rgb(179,0,0) 0%, rgb(228,0,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(179,0,0) 0%, rgb(228,0,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(179,0,0) 0%, rgb(228,0,0) 100%);
    height: 45px;
}

p.tit_modalmont{
    color:#fff;
    text-shadow: 0.5px 0.866px 1px rgb( 47, 44, 36 );
    text-align: left;
    padding: 10px 0 0 10px;
    float:left;
    font-size:20px;
}

a.fechar_modal{
    float: right;
    margin:14px;
}

.coluna_esquerda{
    min-width:212px;
    float:left;
    margin-right: 30px;
    text-align:center;
}

.coluna_esquerda p{
    color:#333333;
    font-size:16px;
}

.coluna_direita{
    width:630px;
    float:left;
}

.img_modalmont{
    width:200px;
    padding:5px;
    border:1px solid #d4d4d4;
    margin-bottom:15px;
	cursor: pointer;
}

.qtd_modalcont{
    width:134px;
    height:40px;
    border:1px solid #d4d4d4;
    margin: 0 auto;
    margin-top: 5px;
}

.qtd_modalcont input{
    font-size:24px;
    font-weight:bold;
    border:none;
    color:#333;
    width:58px;
    height:38px;
    text-align:center;
    float:left;
}

.qtd_modalcont a{
    width: 37px;
    background-color: #0062ab;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    float: left;
    height: 38px;
    vertical-align: middle;
    padding-top:3px;
}

h3.tit_itemmont{
    font-size:22px;
    color:#a40000;
    font-weight:bold;
    float:left;
    margin-right:15px;
    padding-top: 5px;
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

select.txt{
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    font-size: 16px;
    font-weight: normal;
    color: #444;
    padding: 10px 6px;
    box-shadow: none;
    margin-right: 15px;
    float: left;
}

.selectitem{
    min-width:100px;
    float:left;
}

.ing_modalmont{
    margin:20px 0;
}

.ing_modalmont p{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom:3px;
}

.lst_ings, .lst_ings_opc {
    float:left;
    margin:15px 10px 0 0;
    min-width:145px;
}

.lst_ings label, .lst_ings_opc label{
    padding-left:8px;
    padding-left: 26px;
    font-size: 15px;
    color:#515151;
}

#btn_concluir{
    cursor: pointer;
    border-radius:4px;
    cursor: pointer;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size:18px;
    background-color: #087607;
    border-bottom:4px solid #014f00;
    padding: 9px 56px;
    margin-top:20px;
}

#btn_concluir:hover{
    border:none;
    margin-top: 24px;
}

.btnopc_montmodal{
    font-size:14px;
    color:#fff;
    padding: 8px 10px;
    background-color:#e67e22;
    border-bottom:2px solid #d35400;
    border-radius:4px;
    cursor:pointer;
    margin-right:15px;
    float:left;
    margin-top: 5px;
}

.btnobs_montmodal{
    font-size:14px;
    color:#fff;
    padding: 8px 10px;
    background-color:#0062ab;
    border-bottom:2px solid #004276;
    border-radius:4px;
    cursor:pointer;
    float:left;
    margin-top: 5px;
}
a.btnbrd_montmodal {
    font-size: 14px;
    color: #fff;
    padding: 8px 10px;
    background-color: #ff4800;
    border-bottom: 2px solid #b13504;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}

a.btnmss_montmodal {
    font-size: 14px;
    color: #fff;
    padding: 8px 10px;
    background-color: #0f92a5;
    border-bottom: 2px solid #065763;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}

.btnopc_montmodal:hover{
    background-color:#d35400;
}

.btnobs_montmodal:hover{
    background-color:#004276;
}

.btnmss_montmodal:hover{
    background-color:#065763;    
}
.btnbrd_montmodal:hover{
    background-color:#b13504;    
}

#btncomprar_montmodal{
    font-size:24px;
    color:#fff;
    padding: 10px 20px;
    background-color:#087607;
    border-bottom:3px solid #014f00;
    border-radius:4px;
    cursor:pointer;
    float:left;
    margin-top:40px;
    font-family: Androgyne, "Open Sans";
    font-weight:normal;
}

#btncomprar_montmodal:hover{
    /*border:none;
    margin-top:44px;*/
    background-color:#014f00;
	margin-top: 43px;
}
span.icon-comprarmodal{
    width:24px;
    height:24px;
    background:url(../img/icon-carrinho-comprarmodal.png);
    display:block;
    float:left;
    margin-right:15px;
    margin-top:6px;
}

span.ingssemcom {
    display: inline-block;
    font-size: 10px;
    width: 100%;
}

.nome_ings{
    text-transform: capitalize;
}

.esmaecer_montador {
    position: absolute;
    width: 120%;
    height: 120%;
    background: #000;
    /*background: rgba(0, 0, 0, 0);*/
    opacity: 0.5;
    margin-top: -25px;
    margin-left: -15px;
    display: none;
    z-index: 9999;
}
.esmaecer_montador.blackesm{
    background: #000;
}

/* Adaptação css montador combo */ 
.listadesaboresescolher {
    /* display: inline-block; */
    width: 300px;
    height: 100%;
    box-shadow: -2px 0px 20px #424242;
    overflow: hidden;
    position: absolute;
    left: 0px;
    /*left: -310px; */
    z-index: 99999;
    background: #fff;
	margin-top: -15px;
}

ul.listacomsabores {
    display: inline-block;
    width: 301px;
    overflow-y: scroll;
    height: 100%;
    padding-top: 38px;
}

li.itensdelistasabores {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    cursor: pointer;
    border-bottom: 1px dotted #d4d4d4;
}

.fotoimglistasabor {
    float: left;
    width: 56px;
    padding: 10px 3px 0;
}

.fotoimglistasabor img {
    width: 100%;
}

span.nomesaborlistasabores {
    font-size: 14px;
    padding-top: 3px;
    width: 226px;
    display: inline-block;
    color: #454545;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 54px;
    position: relative;
}

p.descingredienteslistasabores {
    font-size: 10px !important;
    color: #333 !important;
    text-transform: capitalize;
    width: 226px;
    display: inline-block;
    padding: 0px 0px 0 5px !important;
    margin: 0;
}

/*span.titulolistasabores {
    /* display: inline-block; 
    width: 100%;
    background: #a40000;
    color: #fff;
    font-size: 18px;
    padding: 7px;
    position: absolute;
    z-index: 999;
}*/

li.itensdelistasabores:hover {
    background: #efefef;
}

small.precosaborlistasabores {
    color: #a40000;
    font-size: 13px;
    /* float: right; */
    position: absolute;
    right: 0;
    top: 4px;
}

.montador_doitem{
    display: inline-block;
    width: 100%;
}


/* Lista ingredientes */

.listadeingredientes_opc, .listademassas, .listadebordas, .listadeobservacoes{    
    width: 300px;
    height: 100%;
    box-shadow: -2px 0px 20px #424242;
    overflow: hidden;
    position: absolute;
    right: -350px;    
    z-index: 99999;
    background: #fff;
	margin-top:-15px;
}
ul.listacomobservacoesitem, ul.listacombordasitem, ul.listacommassasitem{
    padding-top: 40px;
}


span.topoeditaringred, span.topomassa, span.topoborda, span.topoobservacoes, span.titulolistasabores  {
    /* display: inline-block; */
    width: 100%;
    color: #fff;
    font-size: 18px;
    padding: 8px;
    position: absolute;
    z-index: 999;
    text-align: center;
	font-family: androgyne, "Open Sans";
	text-shadow: 0.5px 0.866px 1px rgb( 47, 44, 36 );
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e40000+30,b30000+100 */
	background: rgb(228,0,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(228,0,0,1) 30%, rgba(179,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(228,0,0,1) 30%,rgba(179,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(228,0,0,1) 30%,rgba(179,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e40000', endColorstr='#b30000',GradientType=0 ); /* IE6-9 */
}

span.titulo_nomesabor {
    /* display: inline-block; */
    width: 100%;
    background: #333;
    color: #fff;
    font-size: 16px;
    padding: 5px 7px;
    position: absolute;
    z-index: 999;
    top: 38px;
    text-align: center;
}

.content_listaingredientes{
    padding-top: 70px;
}

li.li_inglista {
	display: inline-block;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #d4d4d4;
    padding: 9px;
    color: #444;
}

.nomeinglista {
	font-size: 14px;
    text-transform: capitalize;
    display: inline-block;
    padding-right: 10px;
    max-width: 235px;
    padding-top: 2px;
}

li.tituloopc {
    background: #087607;
    color: #fff;
    /* margin-top: 5px; */
    padding: 8px;
    font-size: 15px;
}

.bolabotao_link {
	position: relative;
    float: right;
    width: 44px;
    height: 22px;
    border-radius: 10px;
}

.bolabotao_link.blbg_right{
    background: #087607;
}

.bolabotao_link.blbg_left{
   /* background: #d40808;*/
   background: #c3c3c3;
}

.bolabotao {
    width: 20px;
    background: #fff;
    height: 20px;
    position: absolute;
    margin: 1px;
    border-radius: 100%;
}

.bolabotao.bl_left {
    left: 0;
}

.bolabotao.bl_right {
    right: 0;
}

/* mais sabores */

a.selectnovosabor {
    float: left;
    padding: 5px 25px 5px 10px;
    font-size: 20px;
    margin-right: 20px;
    border: 1px solid #ccc;
    min-width: 260px;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    max-width: 264px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

span.lbl_saborqtd {
    float: left;
    font-size: 16px;
    padding: 9px 12px 0 0;
}

.box_selectsabor {
    display: inline-block;
    width: 100%;
    padding: 3px;
    margin: 6px 0;
}



/****** ITENS SIMPLES ****/
.item_simp_comb{
    width: 135px;
    float: left;
    margin-left: 10px;
    /* height: 202px;*/
    border-top: 1px dotted #d4d4d4;
    margin-top: 10px;
    margin-bottom: 10px;
    position:relative;
}
.item_simp_comb:nth-of-type(6n+1) {
  clear: left;
  margin-left: 0;
}

.item_simp_comb.inativo{
	opacity:0.3;
}
.item_simp_comb img{
	margin-left:14px;
}

.item_simp_comb.selecionado img{
    opacity: 0.6;
}

.item_simp_comb.selecionado p{
    opacity: 0.6;
}

.item_simp_comb.selecionado a{
    opacity: 0.6;
    cursor: default;
}

.item_simp_comb.selecionado:before {
    content: " ";
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background: url(../img/icon-selecionado.png) center no-repeat;
    position: absolute;
	z-index: 99;
}

.item_simp_comb.selecionado a.btn_sel_item{
    display:none;
}

.item_simp_comb p{
    font-size:14px !important;
    color:#333 !important;
    text-align:center !important;
    font-weight: 600 !important;
	/*height: 40px;*/ 
}


.qtd_modalcont_item{
    width: 90px;
    height: 29px;
    border:1px solid #d4d4d4;
    margin: 0 auto;
    margin-top: 5px;
}

.qtd_modalcont_item input{
    font-size: 18px;
    font-weight: bold;
    border: none;
    color: #333;
    width: 38px;
    height: 26px;
    text-align: center;
    float: left;
}

.qtd_modalcont_item a{
	width: 25px;
    background-color: #0062ab;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    float: left;
    height: 27px;
    vertical-align: middle;
    padding-top: 3px;
	text-align: center;
}

a.btn_sel_item{
    cursor: pointer;
    color: #fff;
    background-color: #087607;
    border-bottom: 2px solid #014f00;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    padding: 5px 9px;
    border-radius: 3px;
    float: left;
    margin: 7px 0 0 27px;
}

a.btn_sel_item:hover{
	background-color: #014f00;
}
.cont_abascombo .precotitleitem {
    display: none;
}

/*  */



/* COMBO */

li.itensdelistasaboresbusca {
    display: inline-block;
    width: 100%;
    margin-top: 8px;
}

li.itensdelistasaboresbusca input {
    display: inline-block;
    width: 94%;
    margin-left: 5px;
    box-sizing: border-box;
    padding: 6px;
    margin-top: 3px;
    border: 1px solid #ccc;
}

/* COMBINADO */
.cont_abascombo.combocombinado{
    overflow-y: auto;
}

.combocombinado .abas_combo {    
    margin-top: -30px;
}

.combocombinado .item_simp_comb{
border-top:none;
}

.combocombinado#montador_combo p{
        height: auto !important;
}
.combocombinado .esmaecer_montador{
        height: 100% !important;
}
.hideitemtroca {
    display: none;
}