.formapizza{
    width: 270px;
    height: 270px;
    display: inline-block;
    position: relative;
}

.icones.removesabor{
    width: 31px;
    height: 31px;
    display: none;
    position: absolute;
    z-index: 999;
    background: url(../img/remov-sabor.png) no-repeat center;
    cursor: pointer;
}

.umsabor{
  top: 18%;
  left: 7%;
}

.doissabores-dir{
  top: 19%;
  right: 4%;
}

.doissabores-esq{
  top: 19%;
  left: 4%;
}


.tressabores-meio{
  top: 4%;
  left: 26%;
}

.tressabores-dir{
  top: 62%;
  right: 0;
}

.tressabores-esq{
    top: 62%;
}


.quatrosab-top-esq{
    top: 16%;
    left: 8%;
}

.quatrosab-top-dir{
    top: 16%;
    right: 8%;
}

.quatrosab-bott-esq{
    left: 8%;
    top: 72%;
}

.quatrosab-bott-dir{
    right: 8%;
    top: 72%;
}

.areapizza{
    width: 240px;
    height: 240px;
    margin: 15px 9px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
	cursor:pointer;
}
/*.formapizza.pz1sabor{
    background: url(../img/forma_1.png) center center no-repeat;
}
.formapizza.pz2sabores{
    background: url(../img/forma_2.png) center center no-repeat;
}
.formapizza.pz3sabores{
    background: url(../img/forma_3.png) center center no-repeat;
}
.formapizza.pz4sabores{
    background: url(../img/forma_4.png) center center no-repeat;
}*/


/* itens obrigatorio ou não */
a.linkitensmsl {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #d4d4d4;
}

.linkitensmsl img {
    float: left;
    margin: 5px 8px;
    border: 1px solid #d2d2d2;
}

.linkitensmsl span {
    display: inline-block;
    color: #333;
    font-size: 1.8em;
    padding-top: 12px;
}

.linkitensmsl small {
    font-size: 1.3em;
    text-decoration: underline;
    color: #BC0000;
}

a.linkitensmsl:hover {
    background: #F5F5F5;
}

.pztop-abs{
    position: absolute;
    top: 0;
}

.pztop-abs.pzinteira{
    right: 0;
    width: 100%;
    height: 100%;
}

.pztop-abs.metade_dir{
    right: 0;
    width: 50%;
    height: 100%;
    
}

.pztop-abs.metade_esq{
    left: 0;
    width: 50%;
    height: 100%;
}


/*  quatro sabor */
.pztop-abs.quarto_esq_cima{
    left: 0;
    width: 50%;
    height: 50%;
}
.pztop-abs.quarto_dir_cima{
    right: 0;
    width: 50%;
    height: 50%;
}


.quarto_esq_baixo{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
}
.quarto_dir_baixo{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
}
/* TREZ SABORES */
.pztop-abs.tres_meio{
    right: 24%;
    width: 51%;
    height: 51%;
    z-index: 99;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);

    top: -10.8%;
    overflow: hidden;

    -webkit-border-top-left-radius:100%;
    -moz-border-radius-topleft: 100%;
    border-top-left-radius: 100%;                
}

/*.formapizza.pz3sabores div.tres_meio div.bgtaboa{
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    width: 200%;
    height: 200%;
    background: url(../img/forma_meio.png) top center no-repeat;
    -ms-transform: rotate(-45deg); 
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}*/

.btn-comprar.btn-finalizarpizzab{ display: inline-block;
    position: relative;
    float: none;
    width: 100%;
    margin: 10px 0 0 0;
    font-size: 20px;
    text-transform: uppercase;}

.bgtaboa{
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    width: 200%;
    height: 200%;
    background: url(../img/forma_meio.png) top center no-repeat;
	background-position:-11px -16px;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}
div.tres_meio span.fotosabmeio{
    float: left;
    width: 200%;
    height: 200%;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    margin-top: -2px;
    margin-left: 2px;
}
.pztop-abs.tres_esq{
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.pztop-abs.tres_dir{
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}


.linkpizza{
    float: left;
    width: 100%;
    height: 100%;
}
.linkpizza:hover{
    background: #333;
    opacity: 0.3;
    /*cursor: pointer;*/
}

#btnescolher_bebida{
    display: none;
    width: 265px;
    margin: 0 0 15px 45px;
    background: #EEE;
    /*height: 41px;*/
    color: #222;
    font-size: 1.5em;
    text-align: left;
    border-radius: 2px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    
}
    
#mini-resumo-pedido{
		display:none;
        width: 195px;
        height: 50px;
        background: #fff;
        position: absolute;
        right: 0;
        /*top: -40px;*/
        top: -4px;
        border-radius: 5px;
        border-top-right-radius: 0;
    }
    i#ico-pedido-miniresumo {
        width: 50px;
        height: 50px;
        background: #087607 url(../img/ico-miniresumo.jpg) no-repeat center;
        float: left;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 5px;
    }

    span#title-miniresumo {
        width: 140px;
        float: left;
        text-align: left;
        padding: 5px 0 2px 10px;
        font-size: 1.6em;
    }

    span#qtd-miniresumo {}

    span#qtd-miniresumo {
        float: left;
        padding-left: 10px;
        font-size: 1.3em;
        color: #b20000;
        font-weight: 600;
    }

    span#valor-miniresumo {
        float: left;
        padding-left: 3px;
        font-size: 1.3em;
        color: #b20000;    font-weight: 600;
    }
    span.lblopt {
        width: 30px;
        height: 34px;
        cursor: pointer;
        float: left;
        border-radius: 4px 0 0 4px;
        color: #fff;
        font-weight: bold;
        background: url(../img/icon-delete2.png) no-repeat #0062AB;
        background-position: 8px 11px;
    }
    a.lbldescopt {
        text-transform: capitalize;
        margin: 0 10px;
        cursor: pointer;
        height: 100%;
        display: inline-block;
    }
    
    .itemlistatam a span{
        display: inline-block;
    }

    .itemlistatam a span.qtddsab small {
        float: left;
        padding-top: 10px;
        font-size: 1em;
        color: #b20000;
        font-weight: bold;
    }

    .itemlistatam a small{
        font-weight: normal;
        color: #444;
        display: block;
        text-align: left;
    }

    ul.listaqtddsabor {
        width: 100%;
        display: block;
    }
    li.itemlistaqtd {
        display: block;
    }
    li.itemlistaqtd a {
        display: block;
        text-align: left;
        font-size: 1.5em;
        text-decoration: none;
        font-weight: 600;
        color: #b20000;
        width: 98%;
        border-bottom: 1px solid #d4d4d4;
        padding: 8px;
        margin: 2px;
        text-transform: capitalize;
    }
    .itemlistaqtd a span{
        display: inline-block;
    }

    .itemlistaqtd a span.qtddsab small {
        float: left;
        padding-top: 10px;
        font-size: 1em;
        color: #b20000;
        font-weight: bold;
        text-align: left;
    }

    .itemlistaqtd a small{
        font-weight: normal;
        color: #444;
        display: block;
        text-align: center;
    }

    .closethismodal{
        position: absolute;
            right: 8px;
            top: 8px;
    }
        
        	/* modal massa */
	
    .geralmodal{
        position: relative;
        width: 100%;
    }

    .corpomodal{
        width: 100%;
    }

    .modalcab{
        min-height: 30px;
        width: 100%;
        background: #037203;
        font-size: 1.6em;
        color: white;
        padding: 8px;
		border-radius: 5px 5px 0 0;
        /*font-weight: bold;*/
    }
    .contentmodal{
        background: #fff;
		border-radius: 5px;
    }
    .footermodal{
        min-height: 30px;
        width: 100%;
        background: #398039;
        font-size: 1.6em;
        color: white;
        padding: 8px;
        font-weight: bold;
    }
    
    .ftrModal {
        display: inline-block;
        width: 100%;
        text-align: right;
        padding: 8px;
    }
    
    small.miniavz {
    color: #333 !important;
    font-size: 12px !important;
    margin-top: -10px !important;
    text-transform: lowercase;
}

#sel-borda.link-sel-borda {
    display: block;
    width: 265px;
    margin: 0 0 15px 45px;
    background: #EEE;
    /* height: 41px; */
    color: #222;
    font-size: 1.5em;
    text-align: left;
    border-radius: 2px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}


.saboresselecionados * {
    display: inline-block;
}
            
.link-sel-generic {
	display: block;
    width: 265px;
    margin: 0 0 10px 45px;
    background: #EEE;
    /* height: 41px; */
    color: #222;
    font-size: 1.5em;
    text-align: left;
    border-radius: 2px;
    font-weight: 600;
    padding: 13px 10px;
    text-decoration: none;
    cursor: pointer;
    /* min-height: 45px; */
    text-transform: capitalize;
    border: solid 1px #ccc;
}
            
span.del-borda.del-obs {
    background: url(../img/icon-delete2.png) no-repeat #008a2a;
    background-position: 8px 11px;
}
            
img.imagem_opc_montador{
    float: left;
}

span.title_opc_montador {
    /* display: inline-block; */
    width: 200px;
    float: left;
    margin-left: 10px;
    font-weight: 600;
    text-transform: capitalize;
}

small.desc_opc_montador {
    float: left;
    width: 200px;
    margin-left: 10px;
    font-weight: 500;
 }
 
.link-sel-generic:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100 */
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}