.ingredientsStyles {
  margin: 0px;
  padding: 0px;
}
.ingredientsStyles li {
  list-style: none;
  padding: 10px;
  display: block;
}
.ingredientsStyles li:hover {
  background: #f7fafc;
}
.ingredientsStyles li span {
  float: right;
}
/* Sidepizzas */
@media (min-width: 995px)  {
  .sidepizza-left {
      position: absolute;
      top: 0;
      left: 0;
  }
  .sidepizza-right {
      position: absolute;
      top: 0;
      right: 0;
  }
}

@media (max-width: 750px)  {
  .sidepizza-left {
      clear: both;
      display: table-cell;
  }
  .sidepizza-right {
      clear: both;
      display: table-cell;
  }
}

/* PieContainer */
.pieContainer {
  width: 220px;
  height: 220px;
  position: relative;
  margin:0 auto;
}
#pieBackground {
  background-color: grey;
  position: absolute;
  width: 220px;
  height: 220px;
  -moz-border-radius: 110px;
  -webkit-border-radius: 110px;
  -o-border-radius: 110px;
  border-radius: 110px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 10;
} 
.pieBackground-1 {
  background-image: url('../img/forma_1.png');
}
.pieBackground-2 {
  background-image: url('../img/forma_2.png');
}
.pieBackground-3 {
  background-image: url('../img/forma_3.png');
}
.pieBackground-4 {
  background-image: url('../img/forma_4.png');
}

.pie {
  position:absolute;
  width:100px;
  height:200px;
  overflow:hidden;
  top: 10px;
  left:110px;
  -moz-transform-origin:left center;
  -ms-transform-origin:left center;
  -o-transform-origin:left center;
  -webkit-transform-origin:left center;
  transform-origin:left center;
  z-index: 11;
}
.clip {
    clip: rect(0px,100px,200px,0px);
}
.pie.big {
  width:200px;
  height:200px;
  left:10px;
  -moz-transform-origin:center center;
  -ms-transform-origin:center center;
  -o-transform-origin:center center;
  -webkit-transform-origin:center center;
  transform-origin:center center;
}

.pie .addlink {
    color: white;
    cursor: pointer;
    padding:6px;
    background:green; 
    border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    z-index: 99;
    position: absolute;
    margin: 12px;
}

.pie:BEFORE {
  content:"";
  position:absolute;
  width:100px;
  height:200px;
  left:-100px;
  border-radius:100px 0 0 100px;
  -moz-transform-origin:right center;
  -ms-transform-origin:right center;
  -o-transform-origin:right center;
  -webkit-transform-origin:right center;
  transform-origin:right center;
}

.pie.last-three {
  height: 150px;
  position: absolute;
  left: 90px;
  top: 50px;
}

.pie.last-four {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 60px;
  top: 60px;
}

.pie.big:AFTER {
  content:"";
  position:absolute;
  width:200px;
  height:200px;
  left:0;
  border-radius:100px;
}

.pie:hover:nth-of-type(1):AFTER,
.pie:hover:nth-of-type(1):BEFORE {
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}
.pie:hover:nth-of-type(2):AFTER,
.pie:hover:nth-of-type(2):BEFORE {
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
}
.pie:hover:nth-of-type(3):AFTER,
.pie:hover:nth-of-type(3):BEFORE {
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
}
.pie:hover:nth-of-type(4):AFTER,
.pie:hover:nth-of-type(4):BEFORE {
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
}


/* Flavors Starts */

.pie[data-start="1"] {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform:rotate(0deg);
}
.pie[data-start="90"] {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform:rotate(90deg);
}
.pie[data-start="120"] {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform:rotate(120deg);
}
.pie[data-start="180"] {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform:rotate(180deg);
}
.pie[data-start="240"] {
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -webkit-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform:rotate(240deg);
}
.pie[data-start="270"] {
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform:rotate(270deg);
}

/* Flavors Values */

.pie[data-value="90"]:BEFORE {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform:rotate(90deg);
}
.pie[data-value="120"]:BEFORE {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform:rotate(120deg);
}
.pie[data-value="180"]:BEFORE {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform:rotate(180deg);
}
.pie[data-value="360"]:BEFORE {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* choose backgrounds */

/* one flavor */
.one_first-background:AFTER {
    background-repeat: no-repeat; background-size: 100% 100%; background-position: left top;
}
/* two first flavor */
.two_first-background {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right top;
}
/* three first flavor */
.three_first-background {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right top;
}
/* four first flavor */
.four_first-background {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right top;
}

.second-background {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right top;
}
.three-background {

}
.four-background {

}


.search-list {
  position: relative;
}

.search-list-icon {
  position: absolute;
  top: 10px;
  right: 25px;
}

#list-menu {
  margin: 20px 0 0 20px;
  padding:0;
}

.list-content {
  width: 100%;
  display: block;
  position: relative;
  border-top: 1px solid #e5e5e5;
  padding:4px 0;
}

.mount-button {
  position: absolute;
  top: 4px;
  right: 0;
}

.button-disabled {
  background: green !important;
  border: 3px solid #006400  !important;
  opacity: 0.5 !important;
}

.button-disabled:hover {
  background: #006400 !important;
}

.list-img {
  width: 45px;
  height: 45px;
  float: left;
  margin: 0 7px 0 7px;
}
.list-img img {
  width: 45px;
  height: 45px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #ccc;
}

.list-header {
  width: 80%;
  display: inline-block;
}

.list-header p {
  margin:0;
  padding:0;
  font-weight: bold;
}