<div class="form-group">
	<label>Valor</label>
	<input type="text" class="form-control" name="receiver" name="Quantia" required="">
	<button type="button" class="btn btn-burnt-sienna btn-xs text-bottom calculate" style="margin:8px 0 0 0;">Calcular</button> 
</div>

<div class="form-group">
	<label>Troco</label>
	<input type="text" class="form-control" name="send" name="Troco" readonly="">
</div>